<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.bos.dao.Acc_businessadmissibilityMapper">

    <select id="queryall" resultMap="queryacc">
        select a.businessNoticeNo ,a.customCode,a.customName,a.linkman,
            a.telPhone,a.pickupAddress,a.sendAddress,a.arriveCity,a.importantHints,a.reservationTime
        from acc_businessadmissibility a
    </select>
   <!-- <select id="totalAcc_admin" resultType="Integer">
        select count(*) from acc_businessadmissibility
    </select>-->
    <resultMap id="queryacc" type="Map">
        <result property="businessNoticeNo" column="businessNoticeNo"></result>
        <result property="customCode" column="customCode"></result>
        <result property="customName" column="customName"></result>
        <result property="linkman" column="linkman"></result>
        <result property="telPhone" column="telPhone"></result>
        <result property="pickupAddress" column="pickupAddress"></result>
        <result property="sendAddress" column="sendAddress"></result>
        <result property="arriveCity" column="arriveCity"></result>
        <result property="importantHints" column="importantHints"></result>
        <result property="reservationTime" column="reservationTime"></result>
    </resultMap>

    <select id="querybusinNo_ID" resultType="String">
        select max(businessNoticeNo) from acc_businessadmissibility
    </select>

    <select id="query_customCode" resultType="String">
        select max(customCode) from acc_businessadmissibility
    </select>

    <select id="query_importantHints" resultType="Acc_businessadmissibility">
        select importantHints from acc_businessadmissibility
    </select>

    <insert id="addBusin" parameterType="Acc_businessadmissibility" useGeneratedKeys="true" keyProperty="businessNoticeNo">
        insert into bos.acc_businessadmissibility(businessNoticeNo,customCode,customName,linkman,telPhone,pickupAddress,sendAddress,arriveCity,importantHints,reservationTime)
        values(#{businessNoticeNo},#{customCode},#{customName},#{linkman},#{telPhone},#{pickupAddress},#{sendAddress},#{arriveCity},#{importantHints},#{reservationTime})
    </insert>

    <select id="queryByIDbusinessNoticeNo" resultType="Acc_businessadmissibility">
        select businessNoticeNo ,customCode,customName,linkman,telPhone,pickupAddress,sendAddress,arriveCity,importantHints,reservationTime
        from acc_businessadmissibility
        where businessNoticeNo =#{businessNoticeNo}
    </select>

    <!--修改-->
    <update id="updateAcc" parameterType="Acc_businessadmissibility">
        UPDATE acc_businessadmissibility SET businessNoticeNo=#{businessNoticeNo}, customName=#{customName}, pickupAddress=#{pickupAddress},
        customCode=#{customCode}, linkman=#{linkman}, telPhone=#{telPhone}, importantHints=#{importantHints}, arriveCity=#{arriveCity}, sendAddress=#{sendAddress},reservationTime=#{reservationTime}
        WHERE businessNoticeNo=#{businessNoticeNo};
    </update>

    <select id="query_whereAcc" resultType="Acc_businessadmissibility">
        select businessNoticeNo ,customCode,customName,linkman,telPhone,pickupAddress,sendAddress,arriveCity,importantHints,reservationTime
        from acc_businessadmissibility
        where
        <if test=" businessNoticeNo !='' and customCode !='' ">
            businessNoticeNo like "%"#{businessNoticeNo}"%" and customCode like "%"#{customCode}"%"
        </if>
        <if test=" businessNoticeNo !='' and businessNoticeNo !=null ">
             businessNoticeNo like "%"#{businessNoticeNo}"%"
        </if>
        <if test=" customCode !='' and customCode !=null">
             customCode like "%"#{customCode}"%"
        </if>
    </select>

    <update id="update_afterSingleNum" parameterType="String">
        update acc_workorder set afterSingleNum=afterSingleNum+1 where businessNoticeNo=#{businessNoticeNo}
    </update>

    <delete id="deletAcc" parameterType="String">
        delete from acc_businessadmissibility where businessNoticeNo=#{businessNoticeNo}
    </delete>
</mapper>