<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.bos.dao.Acc_worksheetMapper">
    <select id="queryall" resultMap="querywor">
        select b.id,c.workSheetNo,a.customCode,a.importantHints,c.destination,
        a.businessNoticeNo,s.empNo,s.empName,b.pickupTime,a.customName,a.linKman
        from acc_businessadmissibility a,acc_workorder b,acc_worksheet c,sy_emp s
        where a.BusinessNoticeNo=b.BusinessNoticeNo and a.PickerInfo=s.id and b.id=c.id
    </select>
    <resultMap id="querywor" type="Map">
        <result property="id" column="id"></result>
        <result property="workSheetNo" column="workSheetNo"></result>
        <result property="customCode" column="customCode"></result>
        <result property="importantHints" column="importantHints"></result>
        <result property="destination" column="destination"></result>
        <result property="businessNoticeNo" column="businessNoticeNo"></result>
        <result property="empNo" column="empNo"></result>
        <result property="empName" column="empName"></result>
        <result property="pickupTime" column="pickupTime"></result>
        <result property="customName" column="customName"></result>
        <result property="linKman" column="linKman"></result>
        <result property="workGenerationTime" column="workGenerationTime"></result>
    </resultMap>

    <insert id="add_worksheet" parameterType="Acc_worksheet" useGeneratedKeys="true" keyProperty="id">
        insert into bos.acc_worksheet (ID,workSheetNo,Destination,productTime,total,weight,stowageRequirements)
        values(null,#{workSheetNo},#{destination},#{productTime},#{total},#{weight},#{stowageRequirements})
    </insert>

    <select id="querywork_ID" resultType="String">
        select MAX(workSheetNo) from acc_worksheet
    </select>

    <select id="querywhere_work" parameterType="Acc_worksheet" resultMap="querywor">
        select b.id,c.workSheetNo,a.customCode,a.importantHints,c.destination,a.businessNoticeNo,s.empNo,s.empName,b.pickupTime,a.customName,a.linKman
        from acc_businessadmissibility a,acc_workorder b,acc_worksheet c,sy_emp s
        where a.BusinessNoticeNo=b.BusinessNoticeNo and a.PickerInfo=s.id and b.id=c.id
        <if test=" workSheetNo !='' and workGenerationTime !='' ">
           and c.workSheetNo like '%${workSheetNo}%' and b.workGenerationTime like '%${workGenerationTime}%'
        </if>
        <if test=" workSheetNo !='' and workSheetNo !=null ">
           and c.workSheetNo like '%${workSheetNo}%'
        </if>
        <if test=" workGenerationTime !='' and workGenerationTime !=null">
          and  b.workGenerationTime like '%${workGenerationTime}%'
        </if>
    </select>

    <select id="queryByid_work" resultMap="querywor">
        select b.id,c.workSheetNo,a.customCode,a.importantHints,c.destination,a.businessNoticeNo,s.empNo,s.empName,b.pickupTime,a.customName,a.linKman
        from acc_businessadmissibility a,acc_workorder b,acc_worksheet c,sy_emp s
        where a.businessNoticeNo=b.businessNoticeNo and a.pickerInfo=s.id and b.id=c.id and c.workSheetNo=#{workSheetNo}
    </select>

    <update id="updateDestination" parameterType="Map">
        update acc_worksheet set destination=#{destination} where workSheetNo=#{workSheetNo}
    </update>

    <update id="updateimportantHints" parameterType="Map">
        update acc_businessadmissibility set importantHints=#{importantHints} where businessNoticeNo=#{businessNoticeNo}
    </update>
</mapper>