<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.bos.dao.BasDeliverystandardMapper">
  <resultMap id="BaseResultMap" type="com.xr.bos.model.BasDeliverystandard">
    <!--@mbg.generated generated on Mon Mar 02 11:20:24 CST 2020.-->
    <!--@Table bas_deliverystandard-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="MinWeight" jdbcType="DECIMAL" property="minweight" />
    <result column="MaxWeight" jdbcType="DECIMAL" property="maxweight" />
    <result column="OperatorID" jdbcType="INTEGER" property="operatorid" />
    <result column="OperationUnitID" jdbcType="INTEGER" property="operationunitid" />
    <result column="OperationTime" jdbcType="TIMESTAMP" property="operationtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Mar 02 11:20:24 CST 2020.-->
    ID, `Name`, MinWeight, MaxWeight, OperatorID, OperationUnitID, OperationTime
  </sql>

  <select id="findBasDeliverystandardAll" resultType="map">
      select  d.ID,d.`Name` as Dname,d.MinWeight,d.MaxWeight,e.EmpName,u.`Name` as Uname,d.OperationTime,d.InvalidateMark from
	bas_deliverystandard d,sy_emp e, sy_units u
		where e.ID = d.OperatorID and u.ID=d.OperationUnitID

    </select>


  <select id="findBasDeliverystanrdByID" resultType="map">
      select  d.ID,d.`Name` as Dname,d.MinWeight,d.MaxWeight,e.EmpName,u.`Name` as Uname,d.OperationTime,d.InvalidateMark from
	bas_deliverystandard d,sy_emp e, sy_units u
		where e.ID = d.OperatorID and u.ID=d.OperationUnitID  and d.ID=#{ID}

    </select>
    <select id="findBasDeliverystandardByNameAndInvalidateMark" resultType="java.util.Map">
       select  d.ID,d.`Name` as Dname,d.MinWeight,d.MaxWeight,e.EmpName,u.`Name` as Uname,d.OperationTime,d.InvalidateMark from
	bas_deliverystandard d,sy_emp e, sy_units u
		where e.ID = d.OperatorID and u.ID=d.OperationUnitID
		<if test="name != null and name != ''">
          and d.Name=#{name}
        </if>
      <if test="invalidatemark != null and invalidatemark != ''">
         and d.InvalidateMark=${invalidatemark}
      </if>
      
      <if test="maxweight != null">
        and d.MaxWeight=#{maxweight}
      </if>

      <if test="minweight != null">
        and d.MinWeight=#{minweight}
      </if>

      <if test="operatorid != null and operatorid !='' ">
        and d.OperatorID=#{operatorid}
      </if>

      <if test="operationtime != null ">
        and d.OperationTime=#{operationtime}
      </if>

    </select>

</mapper>