<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.bos.dao.ManualSchedulingMapper">
    <select id="queryall" resultMap="queryMan">
        select b.id,b.jObNo, a.reservationTime,a.customName,a.pickupAddress,
              a.customCode,a.linkman,a.telPhone,a.weight,a.volume,a.importantHints,
              a.arriveCity,e.empName,a.sendAddress,s.`Name`,a.notificationSource,a.customNoModifyFlag
        from acc_businessadmissibility a,acc_workorder b,sy_units s,sy_emp e
        where a.businessNoticeNo=b.businessNoticeNo and b.pickupUnit=s.id and b.smallMemberNum=e.id
    </select>

    <resultMap id="queryMan" type="Map">
        <result property="id" column="id"></result>
        <result property="jObNo" column="jObNo"></result>
        <result property="reservationTime" column="reservationTime"></result>
        <result property="customName" column="customName"></result>
        <result property="pickupAddress" column="pickupAddress"></result>
        <result property="customCode" column="customCode"></result>
        <result property="linkman" column="linkman"></result>
        <result property="telPhone" column="telPhone"></result>
        <result property="weight" column="weight"></result>
        <result property="volume" column="volume"></result>
        <result property="importantHints" column="importantHints"></result>
        <result property="arriveCity" column="arriveCity"></result>
        <result property="empName" column="empName"></result>
        <result property="sendAddress" column="sendAddress"></result>
        <result property="Name" column="Name"></result>
        <result property="notificationSource" column="notificationSource"></result>
        <result property="customNoModifyFlag" column="customNoModifyFlag"></result>
    </resultMap>

    <select id="querywhere_manua" parameterType="acc_businessadmissibility" resultMap="queryMan">
        select b.id,b.jObNo, a.reservationTime,a.customName,a.pickupAddress,a.customCode,a.linkman,a.telPhone,a.weight,a.volume,a.importantHints,a.arriveCity,e.empName,a.sendAddress,s.`Name`,a.notificationSource,a.customNoModifyFlag
        from acc_businessadmissibility a,acc_workorder b,sy_units s,sy_emp e
        where a.businessNoticeNo=b.businessNoticeNo and b.pickupUnit=s.id and b.smallMemberNum=e.id
        <if test=" jObNo !='' and sendAddress !='' ">
            and b.jObNo like '%${jObNo}%' and a.sendAddress like '%${sendAddress}%'
        </if>
        <if test=" jObNo !='' and jObNo !=null ">
            and b.jObNo like '%${jObNo}%'
        </if>
        <if test=" sendAddress !='' and sendAddress !=null">
            and a.sendAddress like '%${sendAddress}%'
        </if>
    </select>

    <select id="query_ById" resultMap="queryMan">
      select b.id,b.jObNo, a.reservationTime,a.customName,a.pickupAddress,a.customCode,a.linkman,a.telPhone,a.weight,a.volume,a.importantHints,a.arriveCity,e.empName,a.sendAddress,s.`Name`,a.notificationSource,a.customNoModifyFlag
      from acc_businessadmissibility a,acc_workorder b,sy_units s,sy_emp e
      where a.businessNoticeNo=b.businessNoticeNo and b.pickupUnit=s.id and b.smallMemberNum=e.id and b.jobNo=#{jobNo}
    </select>
</mapper>