<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.bos.dao.SorOutBoundMapper">
    <select id="queryAll" parameterType="Map" resultMap="query">
        select so.OutBoundID,HandoverType,Line,su.Name Direction, se1.EmpName AcceptPerson, se2.EmpName Carriers,
        se2.EmpName DeliveryPerson,DeliveryDate,DeliveryCompany,se1.EmpName EnterPerson,EnterDate
        from sor_outbound so  inner join sy_emp se1 on so.AcceptPerson = se1.ID
        inner join sy_emp se2 on so.DeliveryPerson = se2.ID
        inner join sy_units su on so.Direction = su.ID
        order by so.OutBoundID desc
        limit #{page},#{limit}
    </select>
    <select id="queryOutBoundCount" resultType="Integer">
        select count(*)
        from sor_outbound so  inner join sy_emp se1 on so.AcceptPerson = se1.ID
        inner join sy_emp se2 on so.DeliveryPerson = se2.ID
        inner join sy_units su on so.Direction = su.ID
    </select>

    <!--查询最大ID-->
    <select id="queryMaxOutBoundID" resultType="String">
        select max(OutBoundID) from sor_outbound
    </select>

    <insert id="addOutBound" parameterType="SorOutBound" keyColumn="OutBoundID" useGeneratedKeys="true" keyProperty="outBoundID">
        insert into sor_outbound(OutBoundID,HandoverType,Line,Direction,AcceptPerson,Carriers,DeliveryPerson,DeliveryDate,DeliveryCompany,EnterPerson,EnterDate)
        values (#{outBoundID},#{handoverType},#{line},#{direction},#{acceptPerson},#{carriers},#{deliveryPerson},#{deliverDate},#{deliveryCompany},#{enterPerson},#{enterDate})
    </insert>

    <!--修改-->
    <update id="upDateOutBound" parameterType="SorOutBound" keyColumn="OutBoundID" useGeneratedKeys="true" keyProperty="outBoundID">
        update sor_outbound set HandoverType=#{handoverType},Line=#{line},Direction=#{direction},AcceptPerson=#{acceptPerson},
        Carriers=#{carriers},DeliveryPerson=#{deliveryPerson},DeliveryDate=#{deliverDate},DeliveryCompany=#{deliveryCompany},
        EnterPerson=#{enterPerson}
        where OutBoundID = #{outBoundID};
    </update>

    <resultMap id="query" type="Map">
        <result column="OutBoundID" property="OutBoundID"></result>
        <result column="HandoverType" property="HandoverType"></result>
        <result column="Line" property="Line"></result>
        <result column="Direction" property="Direction"></result>
        <result column="AcceptPerson" property="AcceptPerson"></result>
        <result column="Carriers" property="Carriers"></result>
        <result column="DeliveryPerson" property="DeliveryPerson"></result>
        <result column="DeliveryDate" property="DeliveryDate"></result>
        <result column="DeliveryCompany" property="DeliveryCompany"></result>
        <result column="EnterPerson" property="EnterPerson"></result>
        <result column="EnterDate" property="EnterDate"></result>
    </resultMap>
</mapper>