<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.bos.dao.SorStorageMapper">
    <select id="queryAll" resultMap="SorStorageMap">
        select s.ID as ID,s.AcceptDate as AcceptDate,e.EmpName as AcceptPerson,s.AcceptCompany as AcceptCompany,
        (select EmpName from sy_emp se,sor_storage ss where se.ID = ss.DeliveryPerson ) as DeliveryPerson ,s.DeliveryCompany as DeliveryCompany
        from sor_storage s,sy_emp e where s.AcceptPerson=e.ID
    </select>
    <resultMap id="SorStorageMap" type="Map">
        <id property="id" column="ID"></id>
        <result property="acceptDate" column="AcceptDate"></result>
        <result property="acceptPerson" column="AcceptPerson"></result>
        <result property="acceptCompany" column="AcceptCompany"></result>
        <result property="deliveryPerson" column="DeliveryPerson"></result>
        <result property="deliveryCompany" column="DeliveryCompany"></result>
    </resultMap>

    <select id="queryMaxID" resultType="String">
        select max(ID) from  sor_storage;
    </select>

    <insert id="addStorage" parameterType="SorStorage">
        insert into sor_storage(ID,AcceptDate,AcceptPerson,AcceptCompany,DeliveryPerson,DeliveryCompany)
        values(#{ID},#{acceptDate},#{acceptPerson},#{acceptCompany},#{deliveryPerson},#{deliveryCompany});
    </insert>


</mapper>