<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.bos.dao.SorStorageMapper">
    <select id="queryAll" parameterType="Map" resultMap="SorStorageMap">
        select s.ID,s.AcceptDate,se1.EmpName AcceptPerson ,s.AcceptCompany,se2.EmpName DeliveryPerson ,s.DeliveryCompany
        from sor_storage s
        inner join sy_emp se1 on s.AcceptPerson = se1.ID
        inner join sy_emp se2 on s.DeliveryPerson = se2.ID
        order by s.ID desc limit #{page},#{limit}
    </select>
    <select id="queryCount" resultType="Integer">
        select count(*)
        from sor_storage s
        inner join sy_emp se1 on s.AcceptPerson = se1.ID
        inner join sy_emp se2 on s.DeliveryPerson = se2.ID
    </select>
    <select id="queryWhere" parameterType="Map" resultMap="SorStorageMap">
        select s.ID,s.AcceptDate,se1.EmpName AcceptPerson ,s.AcceptCompany,se2.EmpName DeliveryPerson ,s.DeliveryCompany
        from sor_storage s
        inner join sy_emp se1 on s.AcceptPerson = se1.ID
        inner join sy_emp se2 on s.DeliveryPerson = se2.ID
        where
        <if test=" ID !=null">
            /*进了*/
            s.ID like '%${ID}%'
            <if test="acceptDate !=null">
                and s.acceptDate like '%${acceptDate}%'
            </if>
            <if test="acceptPerson !=null">
                and s.acceptPerson=#{acceptPerson}
            </if>
            <if test="acceptCompany !=''">
                and s.acceptCompany=#{acceptCompany}
            </if>
            <if test="deliveryPerson !=null">
                and s.deliveryPerson=#{deliveryPerson}
            </if>
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>
        <if test="acceptDate !=null and ID ==null">
             s.acceptDate like '%${acceptDate}%'
            <if test="acceptPerson !=null">
                and s.acceptPerson=#{acceptPerson}
            </if>
            <if test="acceptCompany !=''">
                and s.acceptCompany=#{acceptCompany}
            </if>
            <if test="deliveryPerson !=null">
                and s.deliveryPerson=#{deliveryPerson}
            </if>
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>
        <if test="acceptPerson !=null and acceptDate ==null and ID ==null">
             s.acceptPerson=#{acceptPerson}
            <if test="acceptCompany !=''">
                and s.acceptCompany=#{acceptCompany}
            </if>
            <if test="deliveryPerson !=null">
                and s.deliveryPerson=#{deliveryPerson}
            </if>
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>

        <if test="acceptCompany !='' and acceptPerson ==null and acceptDate ==null and ID ==null ">
            s.acceptCompany=#{acceptCompany}
            <if test="deliveryPerson !=''">
                and s.deliveryPerson=#{deliveryPerson}
            </if>
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>
        <if test="deliveryPerson !=null and acceptCompany =='' and acceptPerson ==null and acceptDate ==null and ID ==null">
             s.deliveryPerson=#{deliveryPerson}
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>
        <if test="deliveryCompany !='' and deliveryPerson ==null and acceptCompany =='' and acceptPerson ==null and acceptDate ==null and ID ==null">
            s.deliveryCompany=#{deliveryCompany}
        </if>

        order by s.ID desc limit #{page},#{limit}
        /*先用where条件查询，然后orderby进行排序*/
    </select>

    <select id="queryWhereCount" parameterType="Map" resultType="Integer">
        select count(*) from sor_storage s
        inner join sy_emp se1 on s.AcceptPerson = se1.ID
        inner join sy_emp se2 on s.DeliveryPerson = se2.ID
        where
        <if test=" ID !=null">
            /*进了*/
            s.ID like '%${ID}%'
            <if test="acceptDate !=null">
                and s.acceptDate like '%${acceptDate}%'
            </if>
            <if test="acceptPerson !=null">
                and s.acceptPerson=#{acceptPerson}
            </if>
            <if test="acceptCompany !=''">
                and s.acceptCompany=#{acceptCompany}
            </if>
            <if test="deliveryPerson !=null">
                and s.deliveryPerson=#{deliveryPerson}
            </if>
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>
        <if test="acceptDate !=null and ID ==null">
            s.acceptDate like '%${acceptDate}%'
            <if test="acceptPerson !=null">
                and s.acceptPerson=#{acceptPerson}
            </if>
            <if test="acceptCompany !=''">
                and s.acceptCompany=#{acceptCompany}
            </if>
            <if test="deliveryPerson !=null">
                and s.deliveryPerson=#{deliveryPerson}
            </if>
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>
        <if test="acceptPerson !=null and acceptDate ==null and ID ==null">
            s.acceptPerson=#{acceptPerson}
            <if test="acceptCompany !=''">
                and s.acceptCompany=#{acceptCompany}
            </if>
            <if test="deliveryPerson !=null">
                and s.deliveryPerson=#{deliveryPerson}
            </if>
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>

        <if test="acceptCompany !='' and acceptPerson ==null and acceptDate ==null and ID ==null ">
            s.acceptCompany=#{acceptCompany}
            <if test="deliveryPerson !=''">
                and s.deliveryPerson=#{deliveryPerson}
            </if>
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>
        <if test="deliveryPerson !=null and acceptCompany =='' and acceptPerson ==null and acceptDate ==null and ID ==null">
            s.deliveryPerson=#{deliveryPerson}
            <if test="deliveryCompany !=''">
                and s.deliveryCompany=#{deliveryCompany}
            </if>
        </if>
        <if test="deliveryCompany !='' and deliveryPerson ==null and acceptCompany =='' and acceptPerson ==null and acceptDate ==null and ID ==null">
            s.deliveryCompany=#{deliveryCompany}
        </if>

        order by s.ID
    </select>

    <resultMap id="SorStorageMap" type="Map">
        <id property="id" column="ID"></id>
        <result property="acceptDate" column="AcceptDate"></result>
        <result property="acceptPerson" column="AcceptPerson"></result>
        <result property="acceptCompany" column="AcceptCompany"></result>
        <result property="deliveryPerson" column="DeliveryPerson"></result>
        <result property="deliveryCompany" column="DeliveryCompany"></result>
    </resultMap>

    <select id="queryMaxID" resultType="String">
        select max(ID) from  sor_storage;
    </select>

    <insert id="addStorage" parameterType="SorStorage">
        insert into sor_storage(ID,AcceptDate,AcceptPerson,AcceptCompany,DeliveryPerson,DeliveryCompany)
        values(#{ID},#{acceptDate},#{acceptPerson},#{acceptCompany},#{deliveryPerson},#{deliveryCompany});
    </insert>

    <!--根据条件查询-->
    <select id="queryByIDStorage" parameterType="Integer" resultMap="SorStorageMap">
        select s.ID,s.AcceptDate,se1.EmpName AcceptPerson ,s.AcceptCompany,se2.EmpName DeliveryPerson ,s.DeliveryCompany
        from sor_storage s
        inner join sy_emp se1 on s.AcceptPerson = se1.ID
        inner join sy_emp se2 on s.DeliveryPerson = se2.ID
         where s.ID=#{ID}
    </select>

    <!--修改-->
    <update id="updateStorage" useGeneratedKeys="true" keyColumn="ID">
        update sor_storage set AcceptPerson=#{acceptPerson},AcceptCompany=#{acceptCompany},DeliveryPerson=#{deliveryPerson},DeliveryCompany=#{deliveryCompany}
        where ID=#{ID}
    </update>
    
    <!--删除,同时删除订单详情-->
    <delete id="deleteSorStorage" parameterType="Integer">
        delete from sor_storage where ID =#{ID}
    </delete>

</mapper>