<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.bos.dao.SyMenusMapper">
    <select id="queryDaMoKuai" parameterType="Integer" resultType="SyMenus">
        select m.* from sy_emp e,sy_roles r,sy_menus m,sy_rolesmenus rm
         where e.ID = #{syEmpID} and e.RoleID = r.ID and r.ID = rm.RoleID and rm.MenuID = m.ID and parentID = 0
    </select>

    <select id="queryChild" resultType="SyMenus" parameterType="Map">
          select m.* from sy_emp e,sy_roles r,sy_menus m,sy_rolesmenus rm
          where e.ID = #{syEmpID} and e.RoleID = r.ID and r.ID = rm.RoleID and rm.MenuID = m.ID and parentID = #{parentID}
    </select>

    <select id="findMenusAll" resultType="SyMenus">
        <!--select  id,
        (SELECT text from sy_menus WHERE s.parentID = ID) as '上级栏目',
        type,text,url,tip from sy_menus s-->

         select  s.ID as ID,s.parentID,
         s.type,s.text,s.url,s.tip from sy_menus s

    </select>

</mapper>