<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.bos.dao.SyRolesMapper">

    <!--查询所有的角色-->
    <select id="findRolesAll" resultType="SyRoles">
        SELECT * from sy_roles
    </select>

    <!--根据角色名，是否禁用查询角色信息-->
    <select id="findRolesWhereRolesNameAndDisabled" resultType="com.xr.bos.model.SyRoles">
        select * from sy_roles
            where 1=1
            <if test="disabled == 0 or disabled ==1">
                and disabled=#{disabled}
            </if>
            <if test=" roleName != null and roleName != '' ">
                and roleName = #{roleName}
            </if>
    </select>
    <insert id="addSysRoles">
        INSERT INTO sy_roles( `RoleName`, `RoleDesc`, `Disabled`) VALUES ( #{roleName}, #{roleDesc}, #{disabled});

    </insert>
    <select id="findRolesWhereUpdateById" resultType="com.xr.bos.model.SyRoles">
        select * from sy_roles where ID=#{id}

    </select>
    <update id="updateSysRolesByid">

        UPDATE sy_roles SET `RoleName` =#{roleName}, `RoleDesc` = #{roleDesc}, `Disabled` =#{disabled} WHERE `ID` =#{id};
    </update>
</mapper>