<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>收派时间管理</title> 
    <link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
</head> 
<body>
	<form class="layui-form" action="" method="post" id="adddekiveryTime">
	<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
	  	<tbody>
		    <tr>
		    	<td class="layui-bg-gray" width="18%">时间名称</td>
		      	<td width="32%">
      				<input type="text" name="title" id="timename" lay-verify="required" placeholder="请输入时间名称" autocomplete="off" class="layui-input">
		      	</td>
		      	<td class="layui-bg-gray" width="18%">所属单位</td>
		      	<td width="32%">
					<select name="city" lay-verify="required" id="subordinateunit" >
			        	<option value=""></option>
			        	<!--<option value="0">全部</option>
			        	<option value="1">总公司</option>
			        	<option value="2">总公司</option>
			        	<option value="3">总公司</option>-->
			      	</select>
		      	</td>
		    </tr>
		    <tr>
		      	<td class="layui-bg-gray">平时上班时间</td>
		      	<td>
					<!--<input type="text" name="title" id="workingtime" placeholder="请输入平时上班时间" autocomplete="off" class="layui-input">-->
					<div class="layui-inline layui-input-inline layui-form-item">
					<input type="text" class="layui-input" lay-verify="required" id="workingtime" placeholder="请输入平时上班时间">
					</div>
				</td>
		      	<td class="layui-bg-gray">平时下班时间</td>
		      	<td>
					<!--<input type="text" name="title" placeholder="请输入平时下班时间" autocomplete="off" class="layui-input">-->
					<div class="layui-inline layui-input-inline layui-form-item">
						<input type="text" class="layui-input" lay-verify="required" id="closingtime" placeholder="请输入平时下班时间">
					</div>
				</td>
		    </tr>
		    <tr>
		      	<td class="layui-bg-gray">周六上班时间</td>
		      	<td>
					<!--<input type="text" name="title" placeholder="请输入周六下班时间" autocomplete="off" class="layui-input">-->
					<div class="layui-inline layui-input-inline layui-form-item">
						<input type="text" class="layui-input" lay-verify="required" id="saturdayworkingtime" placeholder="请输入周六上班时间">
					</div>
				</td>
		      	<td class="layui-bg-gray">周六下班时间</td>
		      	<td>
					<!--<input type="text" name="title" placeholder="请输入周六下班时间" autocomplete="off" class="layui-input">-->
					<div class="layui-inline layui-input-inline layui-form-item">
						<input type="text" class="layui-input" lay-verify="required" id="saturdayclosingtime" placeholder="请输入周六下班时间">
					</div>


				</td>
		    </tr>
		    <tr>
		      	<td class="layui-bg-gray">周日上班时间</td>
		      	<td>
					<!--<input type="text" name="title" placeholder="请输入周日上班时间" autocomplete="off" class="layui-input">-->
					<div class="layui-inline layui-input-inline layui-form-item">
						<input type="text" class="layui-input" lay-verify="required" id="sundayworkingtime" placeholder="请输入周日上班时间">
					</div>
				</td>
		      	<td class="layui-bg-gray">周日下班时间</td>
		      	<td>
					<!--<input type="text" name="title" placeholder="请输入周日下班时间" autocomplete="off" class="layui-input">-->
					<div class="layui-inline layui-input-inline layui-form-item">
						<input type="text" class="layui-input" lay-verify="required" id="sundayclosingtime" placeholder="请输入周日下班时间">
					</div>
				</td>
		    </tr>
		    <tr>
		      	<td colspan="4">
					<input  type="button" lay-submit="" id="add"  class="layui-btn" style="background: #1da02b;" lay-filter="suu"  value="确定">
					<button type="button" id="exit" class="layui-btn  layui-btn-primary">取消</button>
		      	</td>
		    </tr>
	  	</tbody>
	</table>
	</form>
	<script type="text/javascript" src="../../custom/jquery.min.js"></script>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript">


		//修改的赋值
		layui.use(['form','layer'],function () {
			var layer = layui.layer
					, form = layui.form;

			var ID=[[${ID}]];
			$.ajax({
				url:'/finddeliverytimeByID',
				data:{"id":ID},
				type:"get",
				success:function (data) {
					console.log($.parseJSON(data).id);
					$("#timename").val($.parseJSON(data).TimeName);
					$("#subordinateunit").val($.parseJSON(data).SubordinateUnit);
					$("#workingtime").val($.parseJSON(data).WorkingTime);
					$("#closingtime").val($.parseJSON(data).ClosingTime);
					$("#sundayworkingtime").val($.parseJSON(data).SaturdayWorkingTime);
					$("#sundayclosingtime").val($.parseJSON(data).SaturdayClosingTime);
					$("#saturdayworkingtime").val($.parseJSON(data).SundayWorkingTime);
					$("#saturdayclosingtime").val($.parseJSON(data).SundayClosingTime);
					form.render('select');
				}
			})

		})


		//下拉框的上级菜单查询
		layui.use('form', function(){
			var form = layui.form;
			$.ajax({
				url: "/selectedFindUnitsName",
				type: "get",
				datatype: 'json',
				success: function (data) {
					$("#subordinateunit").empty();
					$("#subordinateunit").append("<option value=''>" + '上级栏目' + "</option>");
					var a = $.parseJSON(data);
					console.log(a);
					$.each(a, function (i, obj) {
						$('#subordinateunit').append(new Option(obj.Name,obj.ID));//往下拉菜单里添加元素
					});
					form.render('select');
				}
			});
		});

		//加载'laydate'时间组件
		layui.use(['laydate', 'table','form'], function(){
			var laydate = layui.laydate;
			var table = layui.table;
			var form = layui.form;

			//执行一个laydate实例
			laydate.render({
				elem: '#workingtime' //指定元素
				,type: 'time'
				,trigger: 'click'
			});
			//执行一个laydate实例
			laydate.render({
				elem: '#closingtime' //指定元素
				,type: 'time'
				,trigger: 'click'
			});
			//执行一个laydate实例
			laydate.render({
				elem: '#saturdayworkingtime' //指定元素
				,type: 'time'
				,trigger: 'click'
			});
			//执行一个laydate实例
			laydate.render({
				elem: '#saturdayclosingtime' //指定元素
				,type: 'time'
				,trigger: 'click'
			});
			//执行一个laydate实例
			laydate.render({
				elem: '#sundayworkingtime' //指定元素
				,type: 'time'
				,trigger: 'click'
			});
			//执行一个laydate实例
			laydate.render({
				elem: '#sundayclosingtime' //指定元素
				,type: 'time'
				,trigger: 'click'
			});
		});

        //加载'form'模块，使checkbox、select、radio初始化
		//保存编辑
		layui.use(['form','layer'], function(){
			//渲染
			var form = layui.form
					,layer=layui.layer;
			//监听提交
			form.on('submit(suu)',function (data) {
				var ID=[[${ID}]];
				var timename=$('#timename').val();
				var subordinateunit=$('#subordinateunit').val();
				var workingtime=$('#workingtime').val();
				var closingtime=$('#closingtime').val();
				var sundayworkingtime=$('#sundayworkingtime').val();
				var sundayclosingtime=$('#sundayclosingtime').val();
				var saturdayworkingtime=$('#saturdayworkingtime').val();
				var saturdayclosingtime=$('#saturdayclosingtime').val();
				$.ajax({
					url:'/updateBastandartime',
					type:'get',
					data:{
						"id":ID,
						"timename":timename,
						"subordinateunit":subordinateunit,
						"workingtime":workingtime,
						"closingtime":closingtime,
						"sundayworkingtime":sundayworkingtime,
						"sundayclosingtime":sundayclosingtime,
						"saturdayworkingtime":saturdayworkingtime,
						"saturdayclosingtime":saturdayclosingtime
					},
					success:function (res) {
						layer.alert("修改成功！", {icon: 6},function () {
							// 获得frame索引
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload(); //刷新父页面
							//关闭当前frame
							parent.layer.close(index);
							$(".layui-form").submit();
						});
						return false;
					}
				})
			})
			/**
			 * 取消 退出
			 */
			$("#exit").click(function(){

				var index = parent.layer.getFrameIndex(window.name);
				parent.layer.close(index);
			})




		});
      
    </script>
</body> 
</html>
    

