<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>收派时间管理</title>
<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../css/page.css">
</head>
<body>
<!-- 外部整体 -->
<div class="external">
	<!-- 标题 -->
	<p class="ptitle">收派时间管理</p>
	<!-- 操作区域 -->
	<div class="operation">
		<!-- 向上间距 -->
		<div style="height: 10px;"></div>
		<div class="layui-form-item">

			<!--<div class="layui-inline">
				<label class="layui-form-label">名称:</label>
				<div class="layui-input-block" style="width: 150px;">
					<input type="text" name="title" id="TimeName" placeholder="请输入名称" autocomplete="off" class="layui-input">
				</div>

			</div>-->

			<div class="layui-inline">
				<label class="layui-form-label" >时间名称:</label>
				<div class="layui-input-block" style="width: 150px;">
					<input type="text" name="title" id="TimeName" placeholder="请输入时间名称" autocomplete="off" class="layui-input">
				</div>
			</div>

			<!-- 查询按钮组 -->
			<div class="layui-inline">
				<button class="layui-btn  btnQuery" data-type="reload" lay-filter="sreach">
					<i class="layui-icon">&#xe615;</i>查询
				</button>
				<button type="button" class="layui-btn btnOther" id="resetting">
					<i class="layui-icon">&#x1002;</i> 重置
				</button>

				<button id="btnMore" type="button" class="layui-btn btnOther">
					<i class="layui-icon">&#xe671;</i>更多
				</button>
			</div>

		</div>

		<!-- 隐藏其它查询条件 -->
		<div id="hQuery" class="layui-form-item " style="display: none;">

			<div class="layui-inline layui-form">
				<label class="layui-form-label">所属单位:</label>
				<div class="layui-input-block" style="width: 150px;">
					<select name="city" lay-verify="required" id="SubordinateUnit">
						<option value=""></option>
						<!--<option value="0">全部</option>
						<option value="1">总公司</option>
						<option value="2">总公司</option>
						<option value="3">总公司</option>-->
					</select>
				</div>
			</div>

		</div>
		<form class="layui-form" action="">


			<!-- 操作按扭组 -->
			<div class="layui-form-item" style="padding-left: 11px;height: 30px;">
				<div class="layui-inline">
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="opAdd">新增</button>
					<button type="button" class="layui-btn layui-btn-small btnOther" id="opUpdate">编辑</button>
					<button type="button" class="layui-btn layui-btn-small btnOther" id="opDelete">删除</button>
				</div>
			</div>

		</form>
		<div>
			<!-- 数据表格 -->
			<table class="layui-table" id="deliveryTimeinfo" lay-filter="tools"></table>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../custom/jquery.min.js"></script>
<script type="text/javascript" src="../../layer/layer.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript">
	/**
	 * 重置 点击
	 * */
	$("#resetting").click(function(){

		//刷新全部
		/* window.parent.location.reload();*/

		//刷当前页面
		window.location.reload();

	})


	//下拉框的上级菜单查询
	layui.use('form', function(){
		var form = layui.form;
		$.ajax({
			url: "/selectedFindUnitsName",
			type: "get",
			datatype: 'json',
			success: function (data) {
				$("#SubordinateUnit").empty();
				$("#SubordinateUnit").append("<option value=''>" + '上级栏目' + "</option>");
				var a = $.parseJSON(data);
				console.log(a);
				$.each(a, function (i, obj) {
					$('#SubordinateUnit').append(new Option(obj.Name,obj.ID));//往下拉菜单里添加元素
				});
				form.render('select');
			}
		});
	});


//加载'form'模块，使checkbox、select、radio初始化
layui.use('form', function(){
   
});

	//加载'table'组件、
	var table;
	var layer;
	var form;
	var laydate;
	var element;
	layui.use(['layer','laypage','table','element','form','laydate','element'], function(){
		table = layui.table;
		layer = layui.layer;
		form = layui.form;
		laydate = layui.laydate;
		element = layui.element //元素操作
	table.render({
		id:'alltable',
		height:400,
		elem:'#deliveryTimeinfo',
		url: '/finddeliveryTimeAll',
		page:true,
		limits: [10,25,50,75,100],  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
		limit: 10,
		cols: [
			[ //表头
				{checkbox:true, fixed: 'left'}
				,{field: 'ID', title: '序号',width:100}
				,{field: 'TimeName', title: '时间名称',width:100}
				,{field: 'Uname', title: '所属单位',width:210}
				,{field: 'WorkingTime', title: '平时上班时间',width:135}
				,{field: 'ClosingTime', title: '平时下班时间',width:135}
				,{field: 'SaturdayWorkingTime', title: '周六上班时间',width:135}
				,{field: 'SaturdayClosingTime', title: '周六下班时间',width:135}
				,{field: 'SundayWorkingTime', title: '周末下班时间',width:135}
				,{field: 'SundayClosingTime', title: '周末下班时间',width:135}
			]
		]
	})

		//重载
		var $=layui.$,active={
			reload:function () {
				var index=layer.msg('查询中请稍后。。。。')
				var SubordinateUnit=$('#SubordinateUnit').val();
				var TimeName=$('#TimeName').val();
				alert(SubordinateUnit)

				//执行重载
				table.reload('alltable',{
					page:{
						curr:1
					}
					,url:'/findstandartimeByTimeNameAndSubordinateUnit'
					,where:{
						"subordinateunit":SubordinateUnit,
						"timename":TimeName

					}
				},'data');
			}
		};

		$('.layui-form-item .layui-btn').on('click', function(){
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});




});

//加载'laydate'时间组件
layui.use('laydate', function(){
  var laydate = layui.laydate;
  //执行一个laydate实例
  laydate.render({
    elem: '#opTime' //指定元素
  });
});

$(function(){
	//显示、隐藏剩余的查询条件
	$('#btnMore').click(function(){
		$("#hQuery").toggle();
	});

	//新增
	$('#opAdd').click(function(){
		//页面层
		layer.open({
		  title: ['新增', 'color:#fff;background:#1da02b;'],
		  type: 2,
		  //skin: 'layui-layer-rim', //加上边框
		  area: ['750px', '340px'], //宽高
		  content: 'deliveryTime_add.html'
		});
	});

	//编辑
	$('#opUpdate').click(function(){
		//页面层
		layer.open({
		  title: ['编辑', 'color:#fff;background:#1da02b;'],
		  type: 2,
		  //skin: 'layui-layer-rim', //加上边框
		  area: ['750px', '340px'], //宽高
		  content: 'deliveryTime_add.html'
		});
	});

	//作废
	$('#opDelete').click(function(){
		//询问框
		layer.confirm('确定是否作废？', {
		  	btn: ['是','否'] //按钮
		}, function(){
		  	layer.msg('作废成功', {icon: 1});
		}, function(){
		  	
		});
	});

});

</script>

</body>
</html>
