<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>入库</title>
    <link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../css/page.css">
</head>
<body>
<!-- 外部整体 -->
<div class="external">
    <!-- 标题 -->
    <p class="ptitle">出库交接单</p>
    <!-- 操作区域 -->
    <div class="operation">
        <!-- 向上间距 -->
        <div style="height: 10px;"></div>
        <form class="layui-form" action="">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">出库交接单:</label>
                    <div class="layui-input-block" style="width: 150px;">
                        <input id = "outBoundID" type="text" name="title" placeholder="出库交接单号" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" >交接单类型:</label>
                    <div class="layui-input-block" style="width: 150px;">
                        <select id="handoverType" name="city" lay-verify="required">
                            <option value=""></option>
                            <option value="0">市内物流交接单</option>
                            <option value="1">长途物流交接单</option>
                            <option value="2">派送清单</option>
                            <option value="3">发货交接单</option>
                        </select>
                    </div>
                </div>

                <!-- 查询按钮组 -->
                <div class="layui-inline">
                    <button id="queryWhereOutBound" type="button" class="layui-btn btnQuery">
                        <i class="layui-icon">&#xe615;</i> 查询
                    </button>

                    <button id="regist" type="button" class="layui-btn btnOther">
                        <i class="layui-icon">&#x1002;</i> 重置
                    </button>

                    <button id="btnMore" type="button" class="layui-btn btnOther">
                        <i class="layui-icon">&#xe671;</i>更多
                    </button>
                </div>

            </div>

            <!-- 隐藏其它查询条件 -->
            <div id="hQuery" style="display: none;">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">线路资源:</label>
                        <div class="layui-input-block" style="width: 150px;">
                            <input id="line" type="text" name="title" placeholder="请输入线路资源" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">物流方向:</label>
                        <div class="layui-input-block" style="width: 150px;">
                            <input id="direction" type="text" name="title" placeholder="请输入物流方向" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">接货人</label>
                        <div class="layui-input-block" style="width: 150px;">
                            <input id="acceptPerson" type="text" name="title" placeholder="请输入接货人" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">承运商</label>
                        <div class="layui-input-block" style="width: 150px;">
                            <input id="carriers"  type="text" name="title" placeholder="请输入承运商" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">出货人:</label>
                        <div class="layui-input-block" style="width: 150px;">
                            <input id="deliveryPerson"  type="text" name="title" placeholder="请输入出货人" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">出货时间:</label>
                        <div class="layui-input-block" style="width: 150px;">
                            <input id="deliverDate"  type="text" name="title" placeholder="请输入出货时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">出货单位</label>
                        <div class="layui-input-block" style="width: 150px;">
                            <input id="deliveryCompany"  type="text" name="title" placeholder="请输入出货单位" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">确认人</label>
                        <div class="layui-input-block" style="width: 150px;">
                            <input  id="enterPerson" type="text" name="title" placeholder="请输入确认人" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">确认时间</label>
                        <div class="layui-input-block" style="width: 150px;">
                            <input id="enterDate" type="date" name="title" placeholder="请输入确认时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                </div>

            </div>

            <!-- 操作按扭组 -->
            <div class="layui-form-item" style="padding-left: 11px;height: 30px;">
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-small btnQuery" id="opAdd">新增出库</button>
                    <button type="button" class="layui-btn layui-btn-small btnOther" id="opEdit">修改</button>
                    <button type="button" class="layui-btn layui-btn-small btnOther" id="opDelete">删除</button>
                </div>
            </div>

            <!-- 数据表格 -->
            <table class="layui-table" id="SorOutBound" lay-filter="SorOutBound">

            </table>
        </form>
    </div>
</div>

<script type="text/javascript" src="../../custom/jquery.min.js"></script>
<script type="text/javascript" src="../../layer/layer.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/html" id="barDemo">
    <button type="button" lay-event="edit" class="layui-btn layui-btn-small btnQuery" name="opQueryDetail">查看明细</button>
</script>
<script type="text/javascript">
    //加载'form'模块，使checkbox、select、radio初始化
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });

    //重置
    $("#regist").click(function () {
        location.reload();
    })

    //加载'table'组件
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            id:"TableSorOutBound",
            elem:"#SorOutBound",
            url:"/queryAllOutBound",
            height: 400,//开启头部工具栏
            limit: 5,
            limits:[5,10,15,20],
            cols: [
                [
                    {checkbox:true,fixed: 'left'}
                    ,{field: 'OutBoundID', title: '出库交接单号',width:150 , sort: true}
                    ,{field: 'HandoverType', title: '交接单类型',width:105}
                    ,{field: 'Line', title: '线路资源',width:130,  sort: true, totalRow: true}
                    ,{field: 'Direction', title: '物流方向', width:103, sort: true}
                    ,{field: 'AcceptPerson', title: '接货人', width:90, sort: true}
                    ,{field: 'Carriers', title: '承运商', width:90, sort: true}
                    ,{field: 'DeliveryPerson', title: '出货人', width:90, sort: true}
                    ,{field: 'DeliveryDate', title: '出货时间', width:130, sort: true}
                    ,{field: 'DeliveryCompany', title: '出货单位', width:100, sort: true}
                    ,{field: 'EnterPerson', title: '确认人', width:100, sort: true}
                    ,{field: 'EnterDate', title: '确认时间', width:130, sort: true}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ],
            page:true,
            //回调函数
            done: function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度


                //得到当前页码
                //alert(curr);

                //得到数据总量
                //alert(count);
            }



        });
        //监听行内工具栏事件
        //lay-event="edit"这句代码为了找到对应的按钮，万一有多个就需要该属性
        table.on('tool(SorOutBound)',function (obj) {
            var data = obj.data;
            layer.open({
                title: ['查看明细', 'color:#fff;background:#1da02b;'],
                type: 2,
                //skin: 'layui-layer-rim', //加上边框
                area: ['860px', '340px'], //宽高
                content: '/sortingManagement/theLibrary_list?OutBoundID='+data.OutBoundID
            });
        });


    });

    $("#queryWhereOutBound").click(function () {

        var outBoundID =  $("#outBoundID").val();
        //出库交接单号

        $("#handoverType").find("option:selected").text();//获取选中文本
        var handoverType =   $("#handoverType").val();//获取选中的值
        //交接单类型

        var line = $("#line").val();
        //线路资源

        var direction = $("#direction").val();
        //物流方向

        var acceptPerson = $("#acceptPerson").val();
        //接货人

        var carriers = $("#carriers").val();
        //承运商

        var deliveryPerson = $("#deliveryPerson").val();
        //出货人

        var deliveryCompany = $("#deliveryCompany").val();
        //出货单位
        var deliverDate = $("#deliverDate").val();
        //出货时间

        var enterPerson = $("#enterPerson").val();
        //确认人

        var enterDate = $("#enterDate").val();
        //确认时间

        if(outBoundID==""&&handoverType==""&&line==""&&direction==""&&acceptPerson==""&&carriers==""&&deliveryCompany==""&&deliveryPerson==""&&deliverDate==""&&enterPerson==""&&enterDate==""){
            layui.use('layer',function () {
                layer.msg("请至少填写一项条件！");
            });
            return;
        }
        //查询
        layui.use('table', function() {
            var table = layui.table;
            table.reload('TableSorOutBound', {
                url:'/queryWhereOutBound'
                ,where: { //设定异步数据接口的额外参数，任意设
                    outBoundID: outBoundID
                    , handoverType: handoverType
                    ,line:line
                    ,direction:direction
                    ,acceptPerson:acceptPerson
                    ,carriers:carriers
                    ,deliveryPerson:deliveryPerson
                    ,deliverDate:deliverDate
                    ,deliveryCompany:deliveryCompany
                    ,enterPerson:enterPerson
                    ,enterDate:enterDate
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });



    })

    //加载'laydate'时间组件
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#opTime' //指定元素
        });
    });

    $(function(){
        //显示、隐藏剩余的查询条件
        $('#btnMore').click(function(){
            $("#hQuery").toggle();
        });

        //修改
        $('#opEdit').click(function(){
            layui.use(['table','layer'],function () {
                var table = layui.table,
                    layer = layui.layer;
                //由于是checkbox所以得到的是一个数组
                var tableSorOutBoundRow =  table.checkStatus("TableSorOutBound");
                 var data = tableSorOutBoundRow.data;
                if(data.length==0){
                    layer.msg("请选择一行数据");
                }else if(data.length==1){
                    layer.open({
                        title: ['修改', 'color:#fff;background:#1da02b;'],
                        type: 2,
                        //skin: 'layui-layer-rim', //加上边框
                        area: ['760px', '384px'], //宽高
                        content: '/sortingManagement/theLibrary_Update?OutBoundID='+data[0].OutBoundID+'&HandoverType='+data[0].HandoverType+'&Line='+data[0].Line+'&Direction='+data[0].Direction+'&AcceptPerson='+data[0].AcceptPerson
                            +'&Carriers='+data[0].Carriers+'&DeliveryPerson='+data[0].DeliveryPerson+'&DeliveryDate='+data[0].DeliveryDate+'&DeliveryCompany='+data[0].DeliveryCompany
                            +'&EnterPerson='+data[0].EnterPerson+'&EnterDate='+data[0].EnterDate,
                        end:function () {
                                layer.msg("执行完毕");
                                table.reload('TableSorOutBound', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                        }
                    });
                }else{
                    layer.msg("只能选择一行数据");
                }
            })

        });


        $("#opDelete").click(function () {
            layui.use(['table','layer'],function () {
                var table = layui.table,
                    layer = layui.layer;
                var tableSorOutBoundRow =  table.checkStatus("TableSorOutBound");
                var data = tableSorOutBoundRow.data;
                if(data.length==0){
                    layer.msg("请选择一行数据");
                    return;
                }else if(data.length==1){
                    layer.confirm('确定要删除吗？', {
                        btn: ['确定', '取消'] //按钮

                    },function(){
                        $.ajax({
                            url:"/sorOutBound/deleteOutBound",
                            type:"POST",
                            data:{"OutBoundID":data[0].OutBoundID},
                            success:function (aa) {
                                layer.msg("执行完毕");
                                table.reload('TableSorOutBound', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            }
                        });
                    },function () {
                        layer.msg("取消成功 ");
                    })

                }else{
                    layer.msg("只能选择一行数据");
                    return;
                }
            });
        });


        //查看明细
       /* $('button[name=opQueryDetail]').click(function(){
            //页面层
            layer.open({
                title: ['查看明细', 'color:#fff;background:#1da02b;'],
                type: 2,
                //skin: 'layui-layer-rim', //加上边框
                area: ['860px', '340px'], //宽高
                content: '/sortingManagement/theLibrary_list'
            });
        });*/

        //新增出库交接单
        $('#opAdd').click(function(){
            //页面层
            layer.open({
                title: ['新增出库交接单', 'color:#fff;background:#1da02b;'],
                type: 2,
                //skin: 'layui-layer-rim', //加上边框
                area: ['960px', '484px'], //宽高
                content: '/sortingManagement/theLibrary_add',
                end:function () {
                    layui.use(['layer','table'],function () {
                        var layer = layui.layer
                         ,table = layui.table;
                        layer.msg("执行完毕");
                        table.reload('TableSorOutBound', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    });
                }
            });
        });

    });

</script>

</body>
</html>
