<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>人工调度</title>
<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../css/page.css">
</head>
<body>
<!-- 外部整体 -->
<div class="external">
	<!-- 标题 -->
	<p class="ptitle">人工调度</p>
	<!-- 操作区域 -->
	<div class="operation">
		<!-- 向上间距 -->
		<div style="height: 10px;"></div>
		<form class="layui-form" action="">
			<div class="layui-form-item">

				<div class="layui-inline">
				    <label class="layui-form-label">所属单位:</label>
				    <div class="layui-input-block" style="width: 150px;">
				    	<input type="text" name="sendAddress" onkeyup="this.value=this.value.replace(/[, ]/g,'')"
                               placeholder="请输入所属单位" autocomplete="off" class="layui-input">
				    </div>
			    </div>

			    <div class="layui-inline">
				    <label class="layui-form-label" >通知单号:</label>
				    <div class="layui-input-block" style="width: 150px;">
							<input type="text" name="jobNo" onkeyup="this.value=this.value.replace(/[, ]/g,'')"
                                   placeholder="请输入业务通知单号" autocomplete="off" class="layui-input">
				    </div>
			    </div>

				<!-- 查询按钮组 -->
			    <div class="layui-inline">
					<button id="cxwhere" type="button" class="layui-btn btnQuery">
						<i class="layui-icon">&#xe615;</i> 查询
					</button>

					<button id="cz" type="button" class="layui-btn btnOther">
						<i class="layui-icon">&#x1002;</i> 重置
					</button>

					<button id="btnMore" type="button" class="layui-btn btnOther">
						<i class="layui-icon">&#xe671;</i>更多
					</button>
				</div>

			</div>

			<!-- 隐藏其它查询条件 -->
			<div id="hQuery" class="layui-form-item" style="display: none;">

				<div class="layui-inline">
				    <label class="layui-form-label">来源类型:</label>
				    <div class="layui-input-block" style="width: 150px;">
							<select name="pro" lay-verify="required">
                <option value=""></option>
                <option value="0">正常</option>
                <option value="1">异调</option>
                <option value="2">网上</option>
              </select>
				    </div>
			    </div>

			    <div class="layui-inline">
				    <label class="layui-form-label">日期:</label>
				    <div class="layui-input-block" style="width: 150px;">
				     	<input type="text" name="title" placeholder="请输入日期" autocomplete="off" class="layui-input">
				    </div>
			    </div>

			    <div class="layui-inline">
				    <label class="layui-form-label">是否超时:</label>
				    <div class="layui-input-block" style="width: 150px;">
							<select name="pro" lay-verify="required">
                <option value=""></option>
                <option value="0">是</option>
                <option value="1">否</option>
              </select>
				    </div>
			    </div>

					<div class="layui-inline">
				    <label class="layui-form-label">是否异常:</label>
				    <div class="layui-input-block" style="width: 150px;">
							<select name="pro" lay-verify="required">
                <option value=""></option>
                <option value="0">是</option>
                <option value="1">否</option>
              </select>
				    </div>
			    </div>
			</div>

			<!-- 操作按扭组 -->
			<div class="layui-form-item" style="padding-left: 11px;height: 30px;">
				<div class="layui-inline">
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="distribution">分配</button>
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="distribution">退回</button>
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="del">销单</button>
					<button type="button" class="layui-btn layui-btn-small btnOther" id="detail">详情</button>
				</div>
			</div>

			<!-- 数据表格 -->
			<!--<table class="layui-table">
				<colgroup>
					<col width="50">
				    <col width="60">
				    <col width="87">
				    <col width="145">
				    <col width="90">
				    <col width="120">
				    <col width="90">
				    <col width="80">
				    <col width="70">
				    <col width="60">
					<col width="60">
					<col width="90">
				    <col>
			  	</colgroup>
			  	<thead>
				    <tr>
				    	<th><input type="checkbox" name="check" lay-skin="primary"></th>
				    	<th>序号</th>
				      	<th>通知单号</th>
				      	<th>预约收件时间</th>
				      	<th>客户名称</th>
					  	<th>取件地址</th>
					  	<th>客户编号</th>
					  	<th>联系人</th>
					  	<th>电话</th>
					  	<th>重量</th>
					  	<th>体积</th>
						<th>重要提示</th>
						<th>到达城市</th>
						&lt;!&ndash;
						<th>取货人员信息</th>
						<th>派送地址</th>
						<th>处理单位</th>
						<th>通知单来源</th>
						<th>客户单号修改标志</th>
						 &ndash;&gt;
				    </tr>
			  	</thead>
			  	<tbody>
				    <tr>
				      	<td><input type="checkbox" name="check" lay-skin="primary"></td>
				      	<td>1</td>
				      	<td>GD1001</td>
				      	<td>2017-10-17 14:31</td>
				      	<td>老王</td>
				      	<td>
									<p class="overlength" title="湖南省长沙市岳麓区枫林三路涉外国际公馆5栋2单元">湖南省长沙市岳麓区枫林三路涉外国际公馆5栋2单元</p>
								</td>
				      	<td>BH1001</td>
								<td>老王</td>
								<td>18612345678</td>
				      	<td>1kg</td>
				      	<td>1</td>
								<td>按时到达</td>
								<td>深圳</td>
								&lt;!&ndash;
								<td>老张</td>
								<td>深圳市福田保税区腾邦物流大厦</td>
								<td>福田分部</td>
								<td>电话</td>
								<td>标志</td>
							  &ndash;&gt;
				    </tr>

			  	</tbody>
			</table>-->

		</form>
		<div>
			<table class="layui-table" id="ChekTale" lay-filter="tools"></table>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../custom/jquery.min.js"></script>
<script type="text/javascript" src="../../layer/layer.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript">
//加载'form'模块，使checkbox、select、radio初始化
layui.use('form', function(){

});

//加载'table'组件
layui.use('table', function(){
    var table = layui.table;
    table.render({
        id:'busTable',
        height:370,
        elem:'#ChekTale',
        url: '/query_Man',
        page:true,
        limits: [10,25,50,75,100],  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
        limit: 3,
        cols: [
            [ //表头
                {checkbox:true, fixed: 'left'}
                ,{field: 'id', title: '序号',width:80}
                ,{field: 'jObNo', title: '通知单号',width:100}
                ,{field: 'reservationTime', title: '预约收件时间',width:120}
                ,{field: 'customName', title: '客户名称',width:100}
                ,{field: 'pickupAddress', title: '取件地址',width:120}
                ,{field: 'customCode', title: '客户编号',width:100}
                ,{field: 'linkman', title: '联系人',width:100}
                ,{field: 'telPhone', title: '联系电话',width:100}
                ,{field: 'weight', title: '重量',width:100}
                ,{field: 'volume', title: '体积',width:100}
                ,{field: 'importantHints', title: '重要提示',width:100}
                ,{field: 'arriveCity', title: '到达城市',width:140}
                ,{field: 'empName', title: '取货人',width:100}
                ,{field: 'sendAddress', title: '派送地址',width:140}
                ,{field: 'Name', title: '处理单位',width:140}
                ,{field: 'notificationSource', title: '通知单来源',width:120}
                ,{field: 'customNoModifyFlag', title: '客户单号修改标志',width:120}
            ]
        ]
    })
});
        //重置
        $("#cz").click(function () {
            location.reload();
        })

	//工作单条件查询
	$("#cxwhere").click(function() {
		if ($("#sendAddress").val() == "" && $("#jobNo").val() == "") {
			alert("必须选择一项查询");
			return false;
		} else {
			var sendAddress = $("input[name=sendAddress]").val();
			var jobNo = $("input[name=jobNo]").val();
			layui.use('table', function () {
				var table = layui.table;
				table.reload('busTable', {
					url: '/manu_querywhere'
					, where: { //设定异步数据接口的额外参数，任意设
                        sendAddress: sendAddress
						, jobNo: jobNo
					}
					, page: {
						curr: 1 //重新从第 1 页开始
					}
				})
			})
		}
	})

//加载'laydate'时间组件
layui.use('laydate', function(){
  var laydate = layui.laydate;
  //执行一个laydate实例
  laydate.render({
    elem: '#opTime' //指定元素
  });
});

$(function(){
	//显示、隐藏剩余的查询条件
	$('#btnMore').click(function(){
		$("#hQuery").toggle();
	});

    //分配
    $('#distribution').click(function(){
        layui.use(['table','layer'],function(){
            var layer = layui.layer,
                table = layui.table;
            var checkStatus = table.checkStatus("busTable");
            var data = checkStatus.data;
            if (data.length == 0) {
                layer.msg('请勾选一行');
            } else if (data.length > 1) {
                layer.msg('只能勾选一行');
            } else {

                //页面层
                layer.open({
                    title: ['分配', 'color:#fff;background:#1da02b;'],
                    type: 2,
                    //skin: 'layui-layer-rim', //加上边框
                    area: ['350px', '220px'], //宽高
                    content: '/find_ByManid?jObNo='+data[0].jObNo,
                    end: function () {
                        layui.use(['table', 'layer'], function () {
                            var layer = layui.layer,
                                table = layui.table;
                            layer.msg("执行完毕");
                            table.reload('table', {
                                page: {
                                    curr: 1
                                }
                            })
                        });
                    }
                });
            }
        })
    });

    //删除
    $('#del').click(function(){
        layui.use(['table','layer'],function(){
            var layer = layui.layer,
                table = layui.table;
            var checkStatus = table.checkStatus("busTable");
            var data = checkStatus.data;
            if (data.length == 0) {
                layer.msg('请勾选一行');
            } else if (data.length > 1) {
                layer.msg('只能勾选一行');
            } else {
                layer.confirm('确定要删除吗？', {
                    btn: ['是', '否'] //按钮

                },function () {
                    layer.msg('执行完毕', {icon: 1});
                    $.ajax({
                        url: '/delet_manu',
                        type: 'get',
                        data: {'jObNo': data[0].jObNo},
                        success: function (a) {
                            location.reload();
                        }
                    });

                },function () {
                    layer.msg("取消成功 ")
                });
            }
        });
    });

	//详情
	$('#detail').click(function(){
		//页面层
		layer.open({
		  title: ['分配', 'color:#fff;background:#1da02b;'],
		  type: 2,
		  //skin: 'layui-layer-rim', //加上边框
			area: ['930px', '440px'], //宽高
			content: '/manualScheduling_detail'
		});
	});




});

</script>

</body>
</html>
