<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>转单</title>
    <link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
</head>
<body>
	<form  lay-filter="stoForm" action="/update_Chek"  class="layui-form">
	<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
	  	<tbody>
		    <tr>
		    	<td class="layui-bg-gray" width="15%">转入方式</td>
				<td class="layui-bg-gray" width="15%">小件员工号</td>
				<td>
					<select name="inputPersonID" lay-verify="required">
						<option value="10" >E007</option>
						<option value="11">E008</option>
						<option value="12" >E009</option>
						<option value="13">E0010</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray" width="15%">转入方式</td>
				<td class="layui-bg-gray" width="15%">单位</td>
				<td>
					<select name="inputID" lay-verify="required">
						<option value="4">长沙宅急送物流有限公司</option>
						<option value="2" >上海宅急送快运物流公司</option>
						<option value="1">北京宅急送物流有限公司</option>
						<option value="3" >武汉物流快运有限公司</option>
					</select>
				</td>
		    </tr>
		    <tr>
		      	<td colspan="4">
					<button class="layui-btn" style="background: #1da02b;">确定</button>
					<button type="button" class="layui-btn layui-btn-primary">取消</button>
		      	</td>
		    </tr>
	  	</tbody>
	</table>
	</form>
	<script type="text/javascript" src="../../custom/jquery.min.js"></script>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript">

        //加载'form'模块，使checkbox、select、radio初始化
        /*layui.use('form', function(){
            var index=parent.getFrameIndex(window.name);
            parent.layer.close(index);
        });*/

        layui.use('form', function(){
            var form = layui.form;
            form.on("submit(stoForm)",function(){
                var deliveryPerson = $("#deliveryPerson").val();
                if(deliveryPerson==""){
                    $("#errDeliveryPerson").show();
                    return false;
                }

                //提交完毕关闭窗口
                var index = parent.layer.getFrameIndex(window.name);
                parent.location.reload();//刷新父页
                parent.layer.close(index);//关闭当前
            })
        })


	</script>
</body>
</html>
