<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>角色</title>
	<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
</head>
<body>
<div class="layui-form">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this">修改角色</li>
		</ul>
		<div class="layui-tab-content" style="height: 100px;">
			<div class="layui-tab-item layui-show">
				<form class="layui-form" action="" method="post" id="addZon">
				<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
					<tbody>
					<tr>
						<td class="layui-bg-gray" width="20%">角色名称</td>
						<td width="30%">
							<input type="text" name="title" placeholder="请输入角色名称" autocomplete="off" class="layui-input" id="roleName">
						</td>
						<td class="layui-bg-gray" width="20%">是否可用</td>
						<td width="30%">
							<select name="city" lay-verify="" id="disabled">
								<option value="">请选择</option>
								<option value="1">可用</option>
								<option value="0">不可用</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<td class="layui-bg-gray">描述</td>
						<td colspan="3">
							<textarea name="desc" placeholder="请输入内容" class="layui-textarea" id="roleDesc"></textarea>
						</td>
					</tr>
					
					<tr>
						<td colspan="6">
							<!--<button class="layui-btn" id="add" style="background: #1da02b;">确定</button>
							-->
							<input  type="button" lay-submit="" id="add"  class="layui-btn" style="background: #1da02b;" lay-filter="suu"  value="确定">
							<button type="button" id="exit" class="layui-btn layui-btn-primary">取消</button>
						</td>
					</tr>
					</tbody>
				</table>
				</form>
			</div>


		</div>
	</div>

</div>
<script type="text/javascript" src="../../custom/jquery.min.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript">
layui.use(['form','layer'],function () {
			var layer = layui.layer
			, form = layui.form;

			var id=[[${id}]];
			//alert(id);
			$.ajax({
				url:'/findRolesWhereUpdateById',
				data:{"id":id},
				type:"get",
				success:function (data) {
					console.log($.parseJSON(data).id);
					$("#roleName").val($.parseJSON(data).roleName);
					$("#roleDesc").val($.parseJSON(data).roleDesc);
					$("#disabled").val($.parseJSON(data).disabled);
					form.render('select');
				}
			})

})


//加载'form'模块，使checkbox、select、radio初始化
//监听提交/保存
layui.use(['form','layer'], function(){
	//渲染
	var form = layui.form
			,layer=layui.layer;

	//监听提交/保存
	form.on('submit(suu)',function (data) {
		var roleName=$('#roleName').val();
		var disabled=$('#disabled').val();
		var roleDesc=$('#roleDesc').val();
		var id=[[${id}]];

		alert(id+"  "+roleName+"  "+disabled+"  "+roleDesc);
		$.ajax({
			url:'/updateSysRoles',
			type:'get',
			data:{
				"roleName":roleName,
				"disabled":disabled,
				"roleDesc":roleDesc,
				"id":id
			},
			success:function (res) {
					layer.alert("修改成功！", {icon: 6},function () {
						// 获得frame索引
						var index = parent.layer.getFrameIndex(window.name);
						parent.location.reload(); //刷新父页面
						//关闭当前frame
						parent.layer.close(index);
						$(".layui-form").submit();
					});
					return false;
			}
		})
	})
	/**
	 * 取消 退出
	 */
	$("#exit").click(function(){

		var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
	})
});


	//注意：选项卡 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
		var element = layui.element;

		//…
});

</script>
</body>
</html>
